requests
bs4
playwright
sqlmodel
psycopg2-binary
pgvector
loguru
langchain
langchain-experimental
langchain-openai
python-dotenv
langgraph
langgraph-checkpoint-postgres
psycopg
fastapi[standard]
pytest
pytest-mock
pre-commit
websockets
redis
pyjwt
passlib[bcrypt]
pytest-cov==5.0.0
pytest-asyncio==0.23.7
respx==0.21.1
fakeredis==2.23.3
freezegun==1.5.1
python-json-logger 
opik 
aio-pika

