requests
bs4
playwright
sqlmodel
psycopg2-binary
pgvector
loguru
langchain
langchain_experimental
langchain_openai
python-dotenv
langgraph
langgraph-checkpoint-postgres
psycopg
fastapi[standard]
pytest
pytest-mock
pre-commit
websockets
redis