pgvector
psycopg2-binary
opik
langchain-openai
langchain-core
langchain-community
langchain-text-splitters
psycopg
fastapi[standard]
pydantic
pydantic-settings
httpx
langchain
langchain-experimental
python-dotenv
redis
sqlmodel