pgvector
psycopg2-binary
opik
langchain-openai
langchain-text-splitters
psycopg
fastapi[standard]
pydantic
pydantic-settings
httpx
langchain
langchain-experimental==0.3.4
python-dotenv
redis
sqlmodel
python-json-logger
pytest
pytest-mock
opik
pytest-asyncio