opik
pydantic
pydantic-settings
langchain-openai
langchain
fastapi
uvicorn
python-dotenv
redis
sqlmodel
passlib
jwt
httpx
python-json-logger
pytest
pytest-mock
pytest-asyncio
aio-pika
aiormq
sqlalchemy
psycopg2-binary