fastapi[standard]
uvicorn
sqlmodel
psycopg2-binary
redis
pyjwt
passlib[bcrypt]==1.7.4
bcrypt==3.2.0
python-jose[cryptography]
python-multipart
pydantic-settings
python-json-logger
pytest
pytest-mock
pytest-asyncio