apiVersion: apps/v1
kind: Deployment
metadata:
  name: auth-service
  namespace: llm-tutor
spec:
  replicas: 2
  strategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 0
      maxSurge: 1
  minReadySeconds: 10
  selector:
    matchLabels:
      app: auth-service
  template:
    metadata:
      labels:
        app: auth-service
    spec:
      terminationGracePeriodSeconds: 30
      imagePullSecrets:
        - name: regcred
      containers:
        - name: auth
          image: ghcr.io/edgarsilva-tech/llm_tutor/auth_service:dev-20260109234937   # altere para a sua imagem (ex.: ghcr.io/<org>/auth_service:v1.0.0)
          ports:
            - containerPort: 8001
          lifecycle:
            preStop:
              exec:
                command: ["/bin/sh","-c","sleep 5"]
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
          env:
            - name: PORT
              value: "8001"
            - name: DB_NAME
              value: "Users"
          readinessProbe:
            httpGet:
              path: /docs
              port: 8001
            initialDelaySeconds: 30
            timeoutSeconds: 3
            periodSeconds: 10
            failureThreshold: 5
          livenessProbe:
            httpGet:
              path: /docs
              port: 8001
            initialDelaySeconds: 30
            timeoutSeconds: 3
            periodSeconds: 10
            failureThreshold: 5
          resources:
            requests:
              cpu: 250m
              memory: 256Mi
            limits:
              cpu: "1"
              memory: "1Gi"
---
apiVersion: v1
kind: Service
metadata:
  name: auth-service
  namespace: llm-tutor
spec:
  selector:
    app: auth-service
  ports:
    - port: 8001
      targetPort: 8001


