apiVersion: apps/v1
kind: Deployment
metadata:
  name: rag-service
  namespace: llm-tutor
spec:
  replicas: 2
  selector:
    matchLabels:
      app: rag-service
  template:
    metadata:
      labels:
        app: rag-service
    spec:
      imagePullSecrets:
        - name: regcred
      containers:
        - name: rag
          image: ghcr.io/edgarsilva-tech/llm_tutor/rag_service:dev-20260104055838   # altere para a sua imagem (ex.: ghcr.io/<org>/rag_service:v1.0.0)
          ports:
            - containerPort: 8002
          envFrom:
            - configMapRef:
                name: app-config
            - secretRef:
                name: app-secrets
          env:
            - name: PORT
              value: "8002"
            - name: DB_NAME
              value: "Khan_Academy"
          readinessProbe:
            httpGet:
              path: /health
              port: 8002
            initialDelaySeconds: 15
          livenessProbe:
            httpGet:
              path: /health
              port: 8002
            initialDelaySeconds: 15
          resources:
            requests:
              cpu: 100m
              memory: 128Mi
            limits:
              cpu: 500m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: rag-service
  namespace: llm-tutor
spec:
  selector:
    app: rag-service
  ports:
    - port: 8002
      targetPort: 8002


