name: Build & Push Images

on:
  push:
    tags: ["v*.*.*"]

permissions:
  contents: read
  packages: write

jobs:
  docker:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3

      - name: Setup Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login GHCR
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build & Push images
        run: |
          TAG=${GITHUB_REF_NAME}
          REPO=ghcr.io/${{ github.repository }}

          docker buildx build --push -t $REPO/auth_service:$TAG -f services/auth_service/Dockerfile .
          docker buildx build --push -t $REPO/quizz_service:$TAG -f services/quizz_gen_service/Dockerfile .
          docker buildx build --push -t $REPO/evaluation_service:$TAG -f services/evaluation_service/Dockerfile .
          docker buildx build --push -t $REPO/rag_service:$TAG -f services/rag_service/Dockerfile .

      - name: Trivy scan (quizz_service)
        uses: aquasecurity/trivy-action@0.20.0
        with:
          image-ref: ghcr.io/${{ github.repository }}/quizz_service:${{ github.ref_name }}
          format: 'table'
          exit-code: '0'
          vuln-type: 'os,library'